{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    <div style="width: 250px">
        {% if object.image != null %}
            <img src="{{ object.image.webPath }}">
        {% else %}
            <span>No picture</span>
        {% endif %}
    </div>
{% endblock %}