<div class="section-full pv9">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="block-title fn-block-title mt0">Videos</h2>
            </div>
        </div>
    </div>
    <div class="fn-fullslide">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="fn-item" data-bg-image="images/fashion/video1.jpg">
                                <img src="images/16x7.png" class="full-size" alt="sizer">
                                <div class="fn-entry">
                                    <a href="javascript:;" class="fn-play"><i class="fa fa-play"></i></a>
                                    <h4>United Colors of Benetton</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="fn-item" data-bg-image="images/fashion/video2.jpg">
                                <img src="images/16x7.png" class="full-size" alt="sizer">
                                <div class="fn-entry">
                                    <a href="javascript:;" class="fn-play"><i class="fa fa-play"></i></a>
                                    <h4>United Colors of Benetton</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="fn-item" data-bg-image="images/fashion/video3.jpg">
                                <img src="images/16x7.png" class="full-size" alt="sizer">
                                <div class="fn-entry">
                                    <a href="javascript:;" class="fn-play"><i class="fa fa-play"></i></a>
                                    <h4>United Colors of Benetton</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fn-arrows">
            <div class="container">
                <a href="javascript:;" class="fn-arrow-prev"><i class="fa fa-angle-left"></i></a>
                <a href="javascript:;" class="fn-arrow-next"><i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </div>
</div>





<div class="section-full">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <h2 class="block-title fn-block-title mt0">
                    Interesting
                    <a href="single.html" class="category-more text-right">Continue to the category <img src="images/arrow-right.png" alt="Arrow"></a>
                </h2>

                <div class="border-line mv0"></div>

                <div class="fs-post-table fn-post-table">

                    <div class="fs-table-item">
                        <div class="row">
                            <div class="col-sm-6 fs-table-bg" data-bg-image="images/fashion/box1.jpg">
                                <img src="images/4x3.png" alt="spacer">
                            </div>
                            <div class="col-sm-6">
                                <div class="fs-table-content">
                                    <div class="fs-media-play mv3 mvt0">
                                        <a href="single.html"><i class="fa fa-play"></i></a>
                                    </div>
                                    <h4><a href="single.html">You Have To See This Badass Prom Dress Inspired By Beyonce's Met Gala Gown</a></h4>
                                    <p class="read-more">
                                        <a href="single.html">read the article</a>
                                    </p>
                                </div>
                                <div class="fs-table-meta">
                                    <span class="pull-left"><a href="single.html">Rollen Chou</a></span>
                                    <span class="pull-right"><a href="single.html">May 18, 2016</a></span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="fs-table-item fs-media-right">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="fs-table-content">
                                    <h4><a href="single.html">You Have To See This Badass Prom Dress Inspired By Beyonce's Met Gala Gown</a></h4>
                                    <p class="read-more">
                                        <a href="single.html">read the article</a>
                                    </p>
                                </div>
                                <div class="fs-table-meta">
                                    <span class="pull-left"><a href="single.html">Rollen Chou</a></span>
                                    <span class="pull-right"><a href="single.html">May 18, 2016</a></span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="col-sm-6 fs-table-bg" data-bg-image="images/fashion/box2.jpg">
                                <img src="images/4x3.png" alt="spacer">
                            </div>
                        </div>
                    </div>


                    <div class="fs-table-item">
                        <div class="row">
                            <div class="col-sm-6 fs-table-bg" data-bg-image="images/fashion/box3.jpg">
                                <img src="images/4x3.png" alt="spacer">
                            </div>
                            <div class="col-sm-6">
                                <div class="fs-table-content">
                                    <h4><a href="single.html">You Have To See This Badass Prom Dress Inspired By Beyonce's Met Gala Gown</a></h4>
                                    <p class="read-more">
                                        <a href="single.html">read the article</a>
                                    </p>
                                </div>
                                <div class="fs-table-meta">
                                    <span class="pull-left"><a href="single.html">Rollen Chou</a></span>
                                    <span class="pull-right"><a href="single.html">May 18, 2016</a></span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="fs-table-item fs-media-right">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="fs-table-content">
                                    <div class="fs-media-play mv3 mvt0">
                                        <a href="single.html"><i class="fa fa-play"></i></a>
                                    </div>
                                    <h4><a href="single.html">You Have To See This Badass Prom Dress Inspired By Beyonce's Met Gala Gown</a></h4>
                                    <p class="read-more">
                                        <a href="single.html">read the article</a>
                                    </p>
                                </div>
                                <div class="fs-table-meta">
                                    <span class="pull-left"><a href="single.html">Rollen Chou</a></span>
                                    <span class="pull-right"><a href="single.html">May 18, 2016</a></span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="col-sm-6 fs-table-bg" data-bg-image="images/fashion/box4.jpg">
                                <img src="images/4x3.png" alt="spacer">
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>

