{# Масовое оповищение продавцов #}

{% block email_header %}
    FREE DELIVERY option in SecretCloset
{% endblock %}

{% block email_body %}
    <p>Dear SecretCloset user,</p>

    <p>
        We are thrilled to inform you that SecretCloset App has new and exciting features! To see these new functions, please make sure that your mobile device has the latest version of our SecretCloset App. Our users can now opt for a FREE DELIVERY option in certain countries.
    </p>
{% endblock %}
