{% macro bottom(images) %}
    {% for image in images %}
        <div class="col-sm-4 ph0">
            <div class="fn-postbox fn-dark">
                <img src="https://s-media-cache-ak0.pinimg.com/736x/49/75/d7/4975d74528de988271a14678ee5fc860.jpg" alt="fashion box">
                <div class="postbox-meta">
                    <h6 class="color-1"><a href="#"><span data-title="Men's clothes">Men's clothes</span></a></h6>
                    <h3><a href="#"><span data-title="For this fall">For this fall</span></a></h3>
                </div>
            </div>
        </div>
    {% endfor %}
{% endmacro %}